body{
	background: black;
	font-family:"Helvetica Neue", "Helvetica";
	color:white;
}

table{
	width:100%;
	font-size:18px;
	font-weight:bold;
}

.menu-data{
	padding-right:15%;
}

.index-logo{
	height:68px;
	width:47.5%;
	text-align:center;
	background-image:url('../img/index-logo.png');
	background-repeat:no-repeat;
	background-position:center;
}
