body {
	background-color: black;
}

header h1 {
	color: white;
	font-size: 4em;
	padding: 1em;
}

h2 {
	color: white;
	font-size: 2.5em;
}

.carousel-image {
	width: 950px;
	height: 450px;
}

footer {
	color: white;
}

.container .main {
	width: 1000px;
}